.User-container {
    margin: auto;
}

.User-container .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

.User-container .content .user-img-edit {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.User-container .content .user-img-edit .sub-container .image {
    background-image: url("/src/im&ve/7833ff86244afcffb7953982047ee1d3.jpg");
    background-position: center;
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.User-container .content .user-img-edit .sub-container .user {
    width: 100%;
    margin: 5px auto;
}
.User-container .content .user-img-edit .sub-container .user h3 {
    color: #000;
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
}
.User-container .content .user-img-edit .bot-user {
    width: 90%;
    margin: 10px auto;
}
.User-container .content .user-img-edit .bot-user button {
    padding: 0.6rem 1.5rem;
    width: 100%;
    height: 3rem;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.User-container .content .user-img-edit .bot-user button:hover {
    background-color: #fff;
    color: rgb(0, 0, 255);
    transition: 0.3s ease-in-out;
    transform: translateY(-3px);
    transform: scale(3px);
}
.content .content2 {
    width: 75%;
    padding: 40px 0px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 10px;
}
.content .content2 .your-info {
    width: 100%;
    padding: 10px;
}
.content .content2 .your-info h4 {
    color: #000;
    font-size: 23px;
    padding: 5px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
}
.content .content2 .information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}
.content .content2 .information .feild {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
}
.content .content2 .information .bro .indivdual .text2 {
    width: 100%;
    height: 5rem;
}
.content .content2 .information .feild .indivdual {
    width: 100%;
    padding: 10px 10px 0px 10px;
}
.content .content2 .information .feild .indivdual h4 {
    width: 100%;
}
.content .content2 .information .feild .indivdual .text2 {
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 3px 1px;
    width: 100%;
    color: #000;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.conofbot {
    position: relative;
    top: 3em;
    left: 20em;
    outline: none;
    border: 0px;
    width: 55vw;
    height: 98vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    animation: slow 1s ease-in;
    animation-fill-mode: forwards;
}
.conofbot .discription .text {
    position: relative;
    top: 10px;
    color: #2a35ce;
    display: block;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    height: 23px;
    width: 100%;
    letter-spacing: 1.2px;
    word-spacing: 1.5px;
    cursor: context-menu;
    margin: 0px 0px 10px 0px;
}
.conofbot .discription .disc {
    position: relative;
    top: 25px;
    left: 0px;
    color: #000000;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    height: 23px;
    width: 100%;
    letter-spacing: 0px;
    word-spacing: 1.5px;
    cursor: context-menu;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #7c7c7b;
    padding-bottom: 40px;
}
@keyframes slow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.conofbot form .dispflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    flex-basis: auto;
    justify-content: space-between;
}
.conofbot form .dispflex .section11 {
    display: block;
    height: 210px;
    width: 360px;
}

.conofbot form .dispflex .section11 .form__field {
    position: relative;
    margin: 20px 10px 0px 0px;
    width: 100%;
    height: 40px;
    outline: none;
    color: #000000;
    padding: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
    cursor: context-menu;
}
.conofbot form .message .form__field1 {
    width: 100%;
    margin: 30px 10px 10px 0px;
    outline: none;
    color: #000000;
    padding: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
    cursor: context-menu;
}
/* ,.con form .notRopot,.con form .bot  */
.conofbot form .notRopot {
    display: flex;
    width: 100%;
    margin: 10px 10px 0px 0px;
    outline: none;
    color: #000000;
    padding: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
    cursor: context-menu;
}
.conofbot form .notRopot p {
    display: flex;
    width: 100%;
    outline: none;
    color: #7c7c7b;
    padding: 5px;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    cursor: context-menu;
}

.conofbot form .botall button {
    width: 100%;
    height: 40px;
    background-color: #2a35ce;
    margin: 10px 10px 60px 0px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    font-family: "Tajawal", sans-serif;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 1px;
    cursor: pointer;
}
.notefication {
    color: #ff0000;
    padding: 0px;
    margin: 0px;
    position: fixed;
}
@media (max-width: 600px) {
    .conofbot {
        top: 3em;
        left: 0.5em;
        outline: none;
        border: 0px;
        width: 75vw;
        height: 98vh;
        padding: 10px;
    }
    .conofbot .discription .disc {
        font-size: 15px;
        padding-bottom: 50px;
    }
    .cloase {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cloase .icon img {
        background-color: #ffffff;
        border-radius: 50px;
    }
    .cloase .icon img:hover {
        background-color: #adadad;
    }
    .conofbot form .dispflex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-evenly;
    }
    .conofbot form .dispflex .section11 {
        height: 360px;
        width: 100%;
    }
    .conofbot form .notRopot p {
        width: 100%;
        font-size: 12px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
}
@media (max-width: 800px) {
    .conofbot {
        top: 3em;
        left: 5em;
        outline: none;
        border: 0px;
        width: 75vw;
        height: 98vh;
        padding: 10px;
    }
    .conofbot .discription .disc {
        font-size: 15px;
        padding-bottom: 50px;
    }
    .cloase {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cloase .icon img {
        background-color: #ffffff;
        border-radius: 50px;
    }
    .cloase .icon img:hover {
        background-color: #adadad;
    }

    .conofbot form .dispflex .section11 {
        height: 360px;
        width: 100%;
    }
    .conofbot form .dispflex .section11 .form__field {
        width: 99%;
        font-size: 14px;
    }
    .conofbot form .notRopot p {
        width: 100%;
        font-size: 14px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
}

@media (max-width: 1024px) {
    .conofbot {
        top: 3em;
        left: 5em;
        outline: none;
        border: 0px;
        width: 75vw;
        height: 98vh;
        padding: 10px;
    }
    .conofbot form .dispflex .section11 {
        height: 360px;
        width: 100%;
    }
    .conofbot form .dispflex .section11 .form__field {
        width: 99%;
    }
}
